{% extends "layout.html" %}
{% block body %}
<div class="page-header">
    <h1>Stuyvesant Key Club Photos</h1>
</div>
<p>Do you have any photos of Key Club members at our events? If the answer is yes, then this site is for you! We offer points to members that take photos during our events, which can then be used in our <a href="http://stuykc.org">monthly newsletter</a> and scrapbook for LTC.</p>
<p>We offer 5 points per photo. <strong>The photos should be relevant to the event.</strong></p>
<p>Ready?</p>
<a class="btn btn-primary btn-large" href="/upload">Upload your photos!</a>
{% endblock %}
