{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="/css/gallery.css">
<link rel="stylesheet" href="/css/jquery.fileupload.css">
<link rel="stylesheet" href="/css/jquery.fileupload-ui.css">
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript><link rel="stylesheet" href="/css/jquery.fileupload-noscript.css"></noscript>
<noscript><link rel="stylesheet" href="/css/jquery.fileupload-ui-noscript.css"></noscript>
<style>.name {word-break: break-word; font-size: 11.5px;} .size, .start, .cancel {white-space: nowrap;} .start {margin-bottom: 3px;}</style>
{% endblock %}
{% block body %}
<div class="page-header">
    <h1>Upload</h1>
</div>
<blockquote>
    <p>Drag and drop photos anywhere on this page to get started!</p>
    <p style="margin-bottom: 5px;">Currently, only image uploads up to 10MB are supported. Support for video uploads will be added in the future! As of now, please email any videos to <a href="mailto:photos@stuykc.org">photos@stuykc.org</a></p>
    <small>Danny Qiu, Stuyvesant Key Club Webmaster '13-'14</small>
</blockquote>
<!-- The file upload form used as target for the file upload widget -->
<form id="fileupload" action="//photos.stuykc.org/upload" method="POST" enctype="multipart/form-data">
    <!-- Redirect browsers with JavaScript disabled to the origin page -->
    <noscript><input type="hidden" name="redirect" value="/"></noscript>
    <div class="row">
        <div class="span3">
            <label for="name">Name:</label><input type="text" class="input-block-level" id="person" name="person" placeholder="First and last name" autofocus />
        </div>
        <div class="span2">
            <label for="id">ID:</label><input type="text" class="input-block-level" id="id" name="id" maxlength="4" placeholder="4 Digit ID" />
        </div>
        <div class="span3">
            <label for="email">Email:</label><input type="email" class="input-block-level" id="email" name="email" placeholder="Email Address" />
        </div>
        <div class="span4">
            <label for="event">Event:</label><input type="text" class="input-block-level" id="event" name="event" placeholder="Name of the Event" />
        </div>
    </div>
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar">
        <div class="span7">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span class="btn btn-success fileinput-button">
                <i class="icon-white icon-plus"></i>
                <span>Add files...</span>
                <input type="file" name="files[]" multiple directory webkitdirectory mozdirectory>
            </span>
            <button type="submit" class="btn btn-primary start">
                <i class="icon-white icon-upload"></i>
                <span>Start upload</span>
            </button>
            <button type="reset" class="btn btn-warning cancel">
                <i class="icon-white icon-ban-circle"></i>
                <span>Cancel upload</span>
            </button>
            <!-- The global file processing state -->
            <span class="fileupload-process"></span>
        </div>
        <!-- The global progress state -->
        <div class="span5 fileupload-progress fade">
            <!-- The global progress bar -->
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="bar bar-success" style="width:0%;"></div>
            </div>
            <!-- The extended global progress state -->
            <div class="progress-extended">&nbsp;</div>
        </div>
    </div>
    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
</form>
<!-- The blueimp Gallery widget -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
<div class="slides"></div>
<h3 class="title"></h3>
<a class="prev">‹</a>
<a class="next">›</a>
<a class="close">×</a>
<a class="play-pause"></a>
<ol class="indicator"></ol>
</div>
{% endblock %}
{% block scripts %}
{% raw %}
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
<tr class="template-upload fade">
    <td>
        <span class="preview"></span>
    </td>
    <td>
        <p class="name">{%=file.name%}</p>
        <strong class="error alert-error"></strong>
    </td>
    <td>
        <p class="size">Processing...</p>
        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar bar-success" style="width:0%;"></div></div>
    </td>
    <td>
        {% if (!i && !o.options.autoUpload) { %}
            <button class="btn btn-primary start" disabled disabled>
                <i class="icon-white icon-upload"></i>
                <span>Start</span>
            </button>
        {% } %}
        {% if (!i) { %}
            <button class="btn btn-warning cancel">
                <i class="icon-white icon-ban-circle"></i>
                <span>Cancel</span>
            </button>
        {% } %}
    </td>
</tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
<tr class="template-download fade">
    <td>
        <span class="preview">
            {% if (file.thumbnailUrl) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
            {% } %}
        </span>
    </td>
    <td>
        <p class="name">
            {% if (file.url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
            {% } else { %}
                <span>{%=file.name%}</span>
            {% } %}
        </p>
        {% if (file.error) { %}
            <div><span class="label alert-error">Error</span> {%=file.error%}</div>
        {% } %}
    </td>
    <td>
        <span class="size">{%=o.formatFileSize(file.size)%}</span>
    </td>
    <td></td>
</tr>
{% } %}
</script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/js/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="/js/load-image.min.js"></script>
<!-- blueimp Gallery script -->
<script src="/js/jquery.gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="/js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="/js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="/js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="/js/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="/js/main.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="/js/jquery.xdr-transport.js"></script>
<![endif]-->
{% endraw %}
<script>
$(document).on('keypress', '#id', function (event) {
  return (((event.which > 47) && (event.which < 58)) || (event.which == 13));
});
var isFormGood = false;
$(document).ready(function() {
  $('.start').each(function() {$(this).prop('disabled', true);});
  $('input').keyup(function() {
    $('input[type=text], input[type=email]').each(function() {
      if ($(this).val()) {
        isFormGood = true
      }
      else {
        isFormGood = false
        return false
      }
    });
    if (isFormGood) {
      $('.start').each(function() {
        if ($(this).parent().parent().find('.error').text() == '') {
          $(this).prop('disabled', false);
        }
      });
    }
    else {
      $('.start').each(function() {$(this).prop('disabled', true);});
    }
  });
});
</script>
{% endblock %}
