{% extends "layout.html" %}
{% block css %}
<style>
input[type="file"] {width:100%; padding-left:5px; padding-right:5px;}
input[type="file"]:hover {background-color:#ffffff;}
</style>
{% endblock %}
{% block body %}
<div class="page-header">
    <h1>Upload</h1>
</div>
<form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="span4">
            <h3>Information</h3>
            <p><label for="name">Name:</label><input type="text" class="input-block-level" id="name" name="name" placeholder="First and last name" /></p>
            <p><label for="id">ID:</label><input type="text" class="input-block-level" id="id" name="id" maxlength="4" placeholder="4 Digit ID" /></p>
            <p><label for="email">Email:</label><input type="email" class="input-block-level" id="email" name="email" placeholder="Email Address" /></p>
            <p><label for="event">Event:</label><input type="text" class="input-block-level" id="event" name="event" placeholder="Name of the Event" /></p>
        </div>
        <div class="span7 offset1">
            <h3>Photos <button type="button" class="btn btn-info btn-small pull-right" id="addfile">Add more photos</button></h3>
            <input type="file" class="input-block-level" name="upload" />
            <input type="file" class="input-block-level" name="upload" />
            <input type="file" class="input-block-level" name="upload" />
            <input type="file" class="input-block-level" name="upload" />
            <input type="file" class="input-block-level" name="upload" />
        </div>
    </div>
    <div class="text-center">
        <hr>
        <button type="submit" class="btn btn-inverse" style="vertical-align:bottom;"><i class="icon-upload icon-white"></i> Upload</button>
    </div>
</form>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {
  $('#addfile').click(function() {
    $('<input type="file" class="input-block-level" name="upload" />').appendTo($(this).closest('div'));
  });
});
</script>
{% endblock %}
